/* Icons fuer MimeTypes */

.mimeIcon16 {
    /* standard-style */
    background-image:url("/img/icon/mime/generic_16x16.gif");
    /* */
}

.mimeIcon64 {
    /* standard-style */
    background-image:url("/img/icon/mime/generic_64x64.gif");
    /* */
}

.mimePdf16 { background-image:url("/img/icon/mime/pdf_16x16.gif"); }
.mimePdf64 { background-image:url("/img/icon/mime/pdf_64x64.gif"); margin-top: 45px; }

.mimeExe16 { background-image:url("/img/icon/mime/exe_16x16.gif"); }

.mimePicture16 { background-image:url("/img/icon/tango/default/16x16/mimetypes/image-x-generic.png"); }
.mimePpt16 { background-image:url("/img/icon/tango/default/16x16/mimetypes/x-office-presentation.png"); }
.mimeXls16 { background-image:url("/img/icon/tango/default/16x16/mimetypes/x-office-spreadsheet.png"); }
.mimeCsv16 { background-image:url("/img/icon/tango/default/16x16/mimetypes/x-office-spreadsheet.png"); }
.mimeDoc16 { background-image:url("/img/icon/tango/default/16x16/mimetypes/x-office-document.png"); }
.mimeZip16 { background-image:url("/img/icon/tango/default/16x16/mimetypes/package-x-generic.png"); }

.mimeAudio16 { background-image:url("/img/icon/tango/default/16x16/mimetypes/audio-x-generic.png"); }
.mimeVideo16 { background-image:url("/img/icon/tango/default/16x16/mimetypes/video-x-generic.png"); }