/* Background from any Toolbar */
.website .x-toolbar {
    background:transparent;
}

/* Background from any Tree */
.website .x-tree {
    background:transparent;
}

/* Background from any selected Tree-Node */
.website .x-tree-selected {
    background:transparent;
}

/* Background from any hovered Treenode */
.website .x-tree-node-over {
    background:transparent;
}

/** Reset TreePanel **/
.website .x-panel-body {
    background-color:transparent;
}

.website .x-tree-root-ct {
    background-color:transparent;
}

.website .x-tree-node-ct {
    background-color:transparent;
}