/**************************************/
/** PRESET: formstd.css               */
/**************************************/
/*

 Vorgabe f�r Formularstandard:
 Formulare mit
 - dt+label Links auf selber höhe, aber rechtsbündig
 - Eingabefelder rechts, anschliessend an das label

*/

form {
    padding:0;
    margin:0;
}

form dt {
   clear:both;
   width:33%;
   float:left;
   text-align:right;
}

form dd {
   float:left;
   width:66%;
   margin:0 0 0.5em 0.25em;
}

form dl {
    margin-top:0;
    margin-bottom:0;
}

/**************************************/
/** ADVANCED SEARCH FORM             **/
/** Option-Felder formatieren        **/
/**************************************/
form#advancedSearchForm fieldset#orientationFields label,
form#advancedSearchForm fieldset#perspectiveFields label,
form#advancedSearchForm fieldset#motiveFields label,
form#advancedSearchForm fieldset#gestureFields label {
    float:none;
    display:inline;
    vertical-align:middle;
}

form label#labOrphan {
    float:none;
    width:200px;
}

#cbxOrphan { float:left; }

/**************************************/
/**  LOGIN-FORM                      **/
/** Eingabeformular ohne fieldsetrand */
/**************************************/

form#login fieldset {
    border:none;
}

/**************************************/
/** REGISTER-FORM                    **/
/**************************************/

#labTac, #agreeTAC {
    float:left;
}

#labTac {
    margin-top:0 !important;
    display:block;
}

/*
* herausgenommen zu testzwecken am 14.12

form#login label {
    margin-top:14px;
    NMIN*float:left;
}

form#login .textField {

    width:200px;
    margin-top:5px;
}

form#login input {
    margin-top:12px;
}

form#login p {
    display:table;
    width:300px;
    height:20px;
}

form#login .actionButton {
    margin-top:15px;
    NMIN*float:right;
}

*/
