/**************************************/
/** PRESET: iconpletzer.css               */
/**************************************/
/*

 Vorgabe für Struktur:
 Iconset-Pletzer (created by pletzer-design)

*/

.iconStd {
    background-repeat:no-repeat;
    background-position:center;
    vertical-align:middle;
    height:16px;
    width:16px;
}

.iconTreePublic {
    background-image:url("/img/icon/pletzer/2014/ordner-oeffentlich.png") !important;
}

.buttonAction {
    background-image:url("/img/icon/pletzer/settings/16x16/set.png") !important;
}

.buttonUpload {
    background-image:url("/img/icon/pletzer/settings/16x16/set.png");
}

.buttonEditCat {
    background-image:url("/img/icon/pletzer/diverse/16x16/ordner-bearbeiten.png") !important;
}

.buttonEditPin {
    background-image:url("/img/icon/pletzer/allgemein/16x16/bearbeiten.png");
}

.buttonAdd {
    background-image:url("/img/icon/pletzer/allgemein/16x16/neu.png") !important;
}

.buttonAddCat {
    background-image:url("/img/icon/pletzer/diverse/16x16/ordner-neu.png") !important;
}

.buttonEdit {
    background-image:url("/img/icon/pletzer/allgemein/16x16/bearbeiten.png");
}

.buttonCopy {
    background-image:url("/img/icon/pletzer/thumbnail/kopieren16.png") !important;
}

.buttonMove {
    background-image:url("/img/icon/pletzer/thumbnail/einfuegen16.png") !important;
}

.buttonLink {
    background-image:url("/img/icon/pletzer/thumbnail/link16.png") !important;
}

.buttonDelete {
    background-image:url("/img/icon/pletzer/allgemein/16x16/loeschen.png") !important;
}

a.buttonDelete {
    background-repeat: no-repeat;
    box-sizing:border-box;
    padding-left: 20px;
    padding-top: 2px;
}

.buttonDeleteFrom {
    background-image:url("/img/icon/pletzer/diverse/16x16/ordner-loeschen.png") !important;
}

.buttonCatImage {
    background-image:url("/img/icon/tango/default/16x16/mimetypes/image-x-generic.png") !important;
}

.buttonUpload {
    background-image:url("/img/icon/pletzer/diverse/16x16/ordner-upload.png");
}

.buttonCategory {
    background-image:url("/img/o_folder.gif");
}

.buttonDownload {
    background-image:url('/img/icon/pletzer/2015/downloadG16x16.png') !important;
}

.buttonSend {
    background-image:url('/img/icon/pletzer/thumbnail/16x16/mail-allgemein16.png');
}

.buttonViewList {
    background-image:url('/img/icon/pletzer/2014/ansicht-listen.png') !important;
}

.buttonViewThumb {
    background-image:url('/img/icon/pletzer/2014/ansicht-thumbnails.png') !important;
}

.buttonShare {
    background-image:url('/img/icon/pletzer/2014/teilen.png') !important;
}

.buttonFb {
    background-image:url('/img/icon/fb.png') !important;
}

.buttonRss {
    background-image:url('/img/icon/feed-icon16x16.png') !important;
}

.buttonView {
    background-image:url('/img/icon/tango/default/16x16/mimetypes/image-x-generic.png') !important;
}

.buttonViewAuto {
    background-image:url('/img/icon/pletzer/2014/ansicht-automatisch.png');
}

.imageActionMenu .buttonEdit, div#inboxpage .buttonEdit, div#filelistGrid .buttonEdit {
    background-image:url("/img/icon/pletzer/thumbnail/16x16/beschlagwortung_f.png");
}

.buttonCart {
    background-image:url('/img/icon/pletzer/thumbnail/16x16/warenkorb_f.png');
}

.buttonLightbox {
    background-image:url('/img/icon/pletzer/thumbnail/16x16/leuchtkasten_f.png');
}

.buttonTopSearchSubmit {

    vertical-align:middle;
    background-image:url('/img/icon/pletzer/menu/16x16/suche.png');
    background-repeat:no-repeat;
    width: 18px;
    height: 18px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    
    /*
    background-color: #ffffff;
    padding: 1px;
    padding-left: 0px;
    padding-right: 0px;
    */
    text-indent: -999em; /* Hide the text, works in most modern browsers */
    /* --- Needed for IE --- */
    font-size: 0px; /* works well in IE7. still a black line (basically the text) in IE6. */
    line-height: 0px; /* Another fix for IE6. */
}

.buttonTopSearchSubmitImage {
    background-image:url('/img/icon/pletzer/menu/16x16/suche.png');
    background-repeat:no-repeat;
    width: 18px;
    height: 18px;
}

/* Wird bei der Statpage und Pin verwendet */

.buttonFiles {
    background-image:url("/img/icon/pletzer/allgemein/16x16/inbox.png");
}

.buttonPassword {
    background-image:url('/img/icon/pletzer/diverse/16x16/passwort_aendern.png');
}

.buttonEditUserAcl {
    background-image:url("/img/icon/pletzer/diverse/16x16/berechtigungen-verwalten.png");
}

div#userlistpage .iEnabled {
    background-image:url("/img/icon/pletzer/diverse/16x16/benutzer_aktiv.png");
}

div#userlistpage .iDisabled {
    background-image:url("/img/icon/pletzer/diverse/16x16/benutzer_gesperrt.png");
}

.formErrorSummary, .errorMessage {
    padding-left:35px;
    background-image:url("/img/icon/pletzer/allgemein/achtung.png");
    background-position:top left;
    background-repeat:no-repeat;
}

/*******************************/
/* Imagemenu                   */
/*******************************/
.buttonPin {
    background-image:url('/img/icon/pletzer/diverse/16x16/pin.png');
}

.buttonSelectionFromCat {
    background-image:url('/img/icon/pletzer/menu/16x16/pin-manager.png');    
}

/*******************************/
/** MENUE                     **/
/*******************************/

#menue a {
    background-repeat: no-repeat;
}

.menuImageimport {
    /*background-image: url("/img/icon/pletzer/diverse/ordner-upload.png");*/
    background-image: url("/img/icon/pletzer/2015/ordner-upload.png");

    padding-left: 30px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
.menuPinlist {    
    background-image: url("/img/icon/pletzer/menu/pin-manager-alt.png");

    padding-left: 30px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
} */

/*
.menuPinDownload {    
    background-image: url("/img/icon/pletzer/menu/pin-downloaden.png");

    padding-left: 30px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
} */

/*
.menuUserlist {
    background-image: url("/img/icon/pletzer/menu/benutzerverwaltung.png");

    padding-left: 30px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
} */


/*******************************/
/*  Settings-Index-Page               */
/*******************************/


li#setApplication {
    background-image:url('/img/icon/pletzer/settings/programm-einstellungen.png');
}

li#setCustomFields {
    background-image:url('/img/icon/pletzer/settings/eigenefelder.png');
}

li#setFormat {
    background-image:url('/img/icon/pletzer/diverse/bild-aufloesung.png');
}

li#setMail {
    background-image:url('/img/icon/pletzer/settings/email-einstellungen.png');
}

li#setWatermark {
    background-image:url('/img/icon/pletzer/settings/wasserzeichen.png');
}

li#setWeb {
    background-image:url('/img/icon/pletzer/settings/web-einstellungen.png');
}

li#setMeta {
    background-image:url('/img/icon/pletzer/settings/besucherstatistik-metatags.png');
}

li#setTemplates {
    background-image:url('/img/icon/pletzer/settings/web-einstellungen.png');
}

li#setCss {
    background-image:url('/img/icon/pletzer/settings/css-einstellungen.png');
}

li#setImport {
    background-image:url('/img/icon/pletzer/settings/import-einstellungen.png');
}

li#setLanguage {
    background-image:url('/img/icon/pletzer/settings/spracheinstellungen.png');
}

li#setMenu {
    background-image:url('/img/icon/pletzer/settings/menue-einstellungen.png');
}

li#setMaintenance {
    background-image:url('/img/icon/pletzer/settings/wartungscenter.png');
}

li#setText {
    background-image:url('/img/icon/pletzer/settings/textverwaltung.png');
}



/*****************************/
/* Formatlist-Page           */
/*****************************/

div#formatlistpage .buttonEdit {
    background-image:url("/img/icon/pletzer/diverse/16x16/berechtigungen-verwalten.png");
    background-repeat:no-repeat;
    background-position:center;
    height:16px;
    width:16px;
}

/* SHOPPING CART */

a.buttonCheckout {
    background-image:url('/img/icon/pletzer/2015/pay-button.png');
}