/**************************************/
/** PRESET: iconstd.css               */
/**************************************/
/*

 Vorgabe f�r Struktur:
 Iconset-Standard

 als Alternative kann auch gew�hlt werden:
 - icontango.css (Icon mit Open Source Icon-Gallery Tango)

*/

.buttonAdd {
    background-image:url("/img/icon/Mini_Pixel_Icons/add-page-red.gif");
    background-repeat:no-repeat;
    background-position:center;
    vertical-align:middle;
    height:15px;
    width:15px;
}

.buttonEdit {
    background-image:url("/img/icon/Mini_Pixel_Icons/edit-page-yellow.gif");
    background-repeat:no-repeat;
    background-position:center;
    height:15px;
    width:15px;
}

.buttonDelete {
    background-image:url("/img/icon/Mini_Pixel_Icons/delete-page-red.gif");
    background-repeat:no-repeat;
    background-position:center;
    height:15px;
    width:15px;
}

.buttonUpload {
    background-image:url("/img/icon/Mini_Pixel_Icons/upload-page-yellow.gif");
    background-repeat:no-repeat;
    background-position:center;
    height:15px;
    width:15px;
}

.buttonDownload {
    background-image:url('/img/icon/Mini_Pixel_Icons/download-page-grey.gif') !important;
    width:14px !important;
    height:14px !important;
}

.imageActionMenu .buttonEdit {
    background-image:url("/img/icon/Mini_Pixel_Icons/edit-page-yellow.gif");
    background-repeat:no-repeat;
    background-position:center;
    height:15px;
    width:15px;
}

.buttonCart {
    background-image:url('/img/icon/Mini_Pixel_Icons/shopping-cart.gif') !important;
    width:14px !important;
    height:15px !important;
}

.buttonLightbox {
    background-image:url('/img/icon/Mini_Pixel_Icons/popular.gif') !important;
    width:14px !important;
    height:14px !important;
}

/* Wird bei der Statpage und Pin verwendet */

.buttonFiles {
    background-image:url("/img/icon/tango/default/16x16/mimetypes/text-x-generic.png");
    background-repeat:no-repeat;
    background-position:center;
    height:15px;
    width:15px;
    /*display:block;*/
}

div#userlistpage .buttonPassword {
    background-image:url("/img/icon/tango/default/16x16/apps/utilities-terminal.png");
    background-repeat:no-repeat;
    background-position:center;
    width:15px !important;
}

div#userlistpage .iEnabled {
    background-image:url("/img/benutzer_on.gif");
    background-repeat:no-repeat;
    background-position:center;
    width:15px !important;
}

div#userlistpage .iDisabled {
    background-image:url("/img/benutzer_off.gif");
    background-repeat:no-repeat;
    background-position:center;
    width:15px !important;
}

/********************/
/* Settingspage     */
/********************/

div#settingspage li#setApplication {
    list-style-image:url('/img/icon/tango/default/22x22/categories/preferences-system.png');
}

div#settingspage li#setText, li#setTextFolder, li#setTextCategory, li#setTextLast {
    list-style-image:url('/img/icon/tango/default/22x22/apps/preferences-desktop-font.png');
}

div#settingspage li#setMail {
    list-style-image:url('/img/icon/tango/default/22x22/apps/internet-mail.png');
}

div#settingspage li#setWatermark {
    list-style-image:url('/img/icon/tango/default/22x22/apps/internet-news-reader.png');
}

div#settingspage li#setWeb {
    list-style-image:url('/img/icon/tango/default/22x22/mimetypes/text-html.png');
}

div#settingspage li#setMeta {
    list-style-image:url('/img/icon/tango/default/22x22/apps/preferences-desktop-remote-desktop.png');
}

div#settingspage li#setTemplates {
    list-style-image:url('/img/icon/tango/default/22x22/apps/preferences-desktop-theme.png');
}

div#settingspage li#setCss {
    list-style-image:url('/img/icon/tango/default/22x22/apps/preferences-desktop-wallpaper.png');
}

div#settingspage li#setImport {
    list-style-image:url('/img/icon/tango/default/22x22/apps/preferences-system-session.png');
}

div#settingspage li#setLanguage {
    list-style-image:url('/img/icon/tango/default/22x22/apps/preferences-desktop-locale.png');
}

div#settingspage li#setMenu {
    list-style-image:url('/img/icon/tango/default/22x22/categories/preferences-desktop.png');
}

li#setTextHelp, li#setTextHelpSearch, li#setTextAgb, li#setTextPrivacy, li#setTextContact, li#setTextImprint, li#setTextFaq {
    list-style-image:url('/img/icon/tango/default/22x22/apps/preferences-system-windows.png');
}
