/**************************************/
/** PRESET: menuhorizontal.css          */
/**************************************/
/*

 Vorgabe für Menue:
 Horizontales Menue

*/

/**************************************/
/**  MENUE                           **/
/**************************************/

#menue {
    /*
    bleibt leer,
    kann in nachgelagerten (ueberschreibenden klassen)
    mit
    width:895px;
    height:40px;
    background:url('/img/maddox/top_header.png');
    formatiert werden.
    */
}

#menue ul {
    /*
    bleibt leer,
    kann in nachgelagerten (ueberschreibenden klassen)
    mit
    padding-top:8px; (abstand zu oben)
    padding-bottom:8px;
    vertical-align:middle;
    formatiert werden
    */
}

#menue li {
    display:inline;
    list-style:none;    
    /*
    kann in nachgelagerten (ueberschreibenden klassen)
    mit
    font-size:12px;
    padding-left:15px;
    padding-right:15px;
    border-right:gray;
    border-right-style:solid;
    border-right-width:thin;
    ergaenzt werden.
    */
}