/**************************************/
/** PRESET: searchpanelstd.css           */
/**************************************/
/*

 Vorgabe für Struktur:
 Such-Panel (im Panel)
 Standard mit allen Feldern

 Anmerkung: es gibt auch vorgaben für
 - Kein Searchpanel an (searchpaneldisabled.css)
 - Nur ein Suchfeld (searchpanelonefield.css)

*/

/**************************************/
/**  IMAGESEARCH                     **/
/**************************************/

#imagesearch h2 {
    margin-top:1px;
    margin-bottom:7px;
}

#imagesearchCa {
}

#sCbxRequery {
    vertical-align:middle;
    margin-left:3px;
}

#sLabRequery {
    display:inline !important;
    width:auto !important;
    vertical-align:middle;
}

form#formSearch #sLabKeyword, #sLabPeriod, #sLabPeople, #sLabLocation {
    display:block;
}