/**************************************/
/** PRESET: structurestd.css               */
/**************************************/
/*

 Vorgabe f?r Struktur:
 Formulare mit
 - Seite nicht zentriert (centered)
 - Logo oben
 - Men? oben (nachfolgend)
 - Panel links (300 Breite)
 - Content/Main rechts und ausfüllend

*/
/* Auf Standard-Struktur verweisen: */
@import url('/css/presets/structurestd.css');

#site {
    margin:10px;
    /*margin-left: auto;
    margin-right: auto;*/
}

#panel {
    width:15%;
}

#panel .x-tree .x-panel-body {
    background:inherit;
}

#main {
    width:84%;
}

#footer {
    /*width:544px;*/
}

#footerlogin {
    /*width:544px;*/
    /*height:15px;*/
}

/**************************************/
/**  CONTENT                         **/
/**************************************/

#content {
    min-height:520px;
    overflow:visible;
    *height:100%;
}