/**************************************/
/** PRESET: structurestd.css               */
/**************************************/
/*

 Vorgabe für Standard-Struktur:
 Formulare mit
 - Logo oben
 - Menü oben (nachfolgend)
 - Panel links (Breite variabel)
 - Content/Main rechts (Breite variabel) bzw. dem Panel nachfolgend (floated)

 Anmerkung: die Breite der Seite sowie Breite von Panel und Main-Bereich sind variabel,
            Presets (Vorlagen) mit fixen Breiten gibt es:
            structurep200m690.css (Panel=200, Main=690)

*/

#top {
    /*overflow:hidden;*/
    /*float:left;*/
    /*padding-top:20px;*/
    /*width:900px;*/
}

#logo {
    float: left;
}

#topsearch {
    float: right;
    padding-right: 5px;
}

#site {
}

#menue {
    clear: both;
}

#accessories {
    margin-right:5px;
}

#panel {
    float:left;
    /*width:200px;*/
    margin-right:0;
    margin-top:0;
}

#main {
    float:left;
    /*width:690px;*/
    overflow:hidden;
    padding-left:5px;
    margin:0;
    padding-top:10px;
    margin-top:0;
}

#footer {
    margin-top:20px;
    text-align:center;
}