/**************************************/
/** PRESET: structurestd.css               */
/**************************************/
/*

 Vorgabe f?r Struktur:
 Formulare mit
 - Seite zentriert (centered)
 - Logo oben
 - Men? oben (nachfolgend)
 - Panel links (200 Breite)
 - Content/Main rechts (1000 Breite) bzw. dem Panel nachfolgend (floated)
 - Content xxx Breite

*/
/* Auf Standard-Struktur verweisen: */
@import url('/css/presets/structurestd.css');

#site {
    width:1200px;
    padding-left:0 !important;
    padding-top:0 !important;
    margin-left: auto;
    margin-right: auto;
}

#panel {
    width:200px;
}

#panel .x-tree .x-panel-body {
    background:inherit;
}

#main {
    width:995px;
}

#footer {
    width:100%;
    float: none;
    clear: both;
}

#footerlogin {
    width:100%;
}

/**************************************/
/**  CONTENT                         **/
/**************************************/

#content {
    width:100%;
    min-height:520px;
    overflow:visible;
    *height:100%;
}